@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

$senja: #f17e3a;

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.nav {
  padding: 15px;
  background-color: transparent;
  margin-bottom: 20px;

  h2 {
    font-family: "Lobster", cursive;
    color: white;
  }
}

.title {
  color: $senja;
}

.headRoot {
  min-height: 100vh;
  background-image: url("../assets/images/bg/f12.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    span {
      .stroke {
        font-weight: 200px;
      }
    }
  }
}
.colHeader {
  margin-top: 180px;
  padding: 50px;
}

.headText {
  font-size: 5rem;
}

.portofolioRoot {
  margin-top: 100px;
  background-color: #fff;
}

.cardrow {
  padding: 15px;
}
